.livros__titulo {
    font-family: var(--fonte-principal);
    color: var(--amarelo);
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0 8px 0;
}

.livros__itens{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 0.5em;
    padding: 1em;
    justify-items: center;
}


.card {
    margin: 0;
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.8em;
    padding: 5em;
    width: 100%;
    max-width: 100%;
}

.card__descricao {
    margin-bottom: 1em;
}

.descricao__titulo {
    font-family: var(--fonte-principal);
    color: var(--amarelo);
    font-weight: 700;
}

.descricao__titulo-livro {
    font-family: var(--fonte-principal);
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao__imagem {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}


@media screen and (min-width: 1024px) {

    .livros__titulo {
        font-size: 26px;
        padding: 2em 0 0.9em 0;
    }


    .card {
        width: 40%;
        margin: 2em auto;
    }
    
}

@media screen and (min-width: 1728px) {


    .card {
        width: 60%;
        margin-left: 3em;
    }

    .descricao__titulo {
        font-size: 32px;
    }

    .descricao {
        margin-right: 2em;
    }
}